body{
    font-family: sans-serif;
}
table{
    width: 100%;
}
tr{

}
td{

}
img {
    display: block;
}
.logo{
    margin-left: 170px;
    width: 100%;
}
.title{
    font-size: 20px;
    text-align: center;
    height: 25px;
    vertical-align: top;
}
.title1{
    text-align: center;
    height: 10px;
}
.name{
    font-size: 30px;
}
.foto{
    text-align: center;
}
.body{
    text-align: center;
    height: 40px;
}
.content1{
    margin-left: 35px;
    margin-right: 20px;
}
.content2{
    margin-left: -30px;
    margin-right: -50px;
}
.semi-foot{
    font-size: 14px;
}
.foot{
    text-align: right;
    font-size: 10px;

}
